# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Hugging Face cache
dataset.cache/

# Dataset
dataset/data/

# Processed data
dataset/processed/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log